
/*---------------------*/
/*-------BOTONES-------*/
/*---------------------*/

.button{
    display: flex;
    background: var(--azul);
    color: #F8F4F2;
    padding: 0 12px;
    height: 40px;
    /*font-family: "verdana",sans-serif;*/
    /*text-transform: capitalize;*/
    font-size: 17px;
    font-weight: bold;
    border-radius: 3px;
    outline: none;
    -webkit-appearance: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
    transition: 0.25s ease;
}

.button:active,
.button:hover
{
    box-shadow:0 0 0 3px rgba(8, 32, 90,0.6);
    background: var(--azul_hover);
    color: #DAEEF7;
}

.button.section
{
    border-radius: 50px;
    background: var(--naranja);
    padding: 9px 26px;
    font-size: 21px;
    text-transform: capitalize;
}

.button.cursos{
    font-size: 20px;
    font-weight: normal;
    text-transform: capitalize;
}

.button.entrar_modulo{
    background: var(--naranja);
}

.button.completo{
    background: var(--verde);
}

.button.incompleto{
    background: var(--incompleto);
}

.button.procesando{
    width: 160px;
    background: #18A900;
}

.button.transparent{
    background: transparent;
    color: var(--gris_c3);
    border: 2px solid var(--border_gris);
}

.button.completo:active,
.button.completo:hover
{
    box-shadow: 0 0 0 3px rgba(51, 165,21,0.6) !important;
    color: #DAEEF7 !important;
}

.button.procesando:active,
.button.procesando:hover
{
    box-shadow: 0 0 0 3px rgba(34,134,3,0.6) !important;
    color: #DBF7DA !important;
}

.button.incompleto:active,
.button.incompleto:hover
{
    box-shadow: 0 0 0 3px rgba(225, 90, 2, 0.6) !important;
    color: #F7E5DA !important;
}

.button.section:active,
.button.section:hover,
.button.entrar_modulo:active,
.button.entrar_modulo:hover
{   
    box-shadow: 0 0 0 3px rgba(222, 20,21,0.6);
    background: var(--naranja);
    color: #DAEEF7 !important;

}

.button.nuevo_modulo:active,
.button.nuevo_modulo:hover
{   
    box-shadow: 0 0 0 3px rgba(225, 90, 2, 0.6);
    background: var(--naranja);
    color: #F7E8DA !important;
}

.button.transparent:active,
.button.transparent:hover
{   
    box-shadow: 0 0 0 2px rgba(85, 85, 85, 0.2);
    background: unset;
    color: var(--gris_c2);

}

label.button,
a.button
{
    padding: 8px 12px;
    font-family: serif;
    letter-spacing: 0.12px;
    border-radius: 3px;
    font-size: 17px;
}

button.maps_link,
a.maps_link
{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: var(--azul);
    padding: 0 6px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700;
    /*text-transform: uppercase;*/
    outline: none;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
}

button.button.btn_outline,
a.button.btn_outline
{
    color: var(--blanco);
    background: transparent;
    border: 2px solid var(--blanco);
}

button.button.btn_outline:hover,
a.button.btn_outline:hover
{
    border-color: #DAEEF7;
}

button.button i,
a.button i,
label.button i
{
    font-size: 15px;
    margin-right: 10px;
}


.button.disabled{
    pointer-events: none;
    background: #D2D2D2;
    color: #A0A0A0 !important;
}

.button.bg_cancel{
    background: #CECECE;
    color: #FFF;
}

button.bg_cancel.button:active,
button.bg_cancel.button:hover{
    box-shadow:0 0 0 3px #DFDFDF;
    background: #BABABA;
    color: #F8F8F8;
}


.btn_submit{
    transition: all .3s ease-in !important;
}

.btn_svg{
    height: 100%; 
    width: 30px;
}